.meus-filmes {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.meus-filmes h1 {
    margin: 14px 0;
    color: #116feb;
}

.meus-filmes span {
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

.meus-filmes ul {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
}

.favoritos-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #1c1c1c;
    padding: 12px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.2s;
}

.favoritos-list:hover {
    transform: scale(1.02);
}

.img-details {
    border: 1px solid #116feb;
    width: 95px;
    max-width: 100%;
    max-height: 140px;
    object-fit: contain;
    display: block;
    border-radius: 8px;
    margin-bottom: 15px;
}

.title-details {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.link-details {
    text-decoration: none;
    color: #58d874;
    font-size: 13px;
    font-weight: bold;
}

.link-details:hover {
    border-bottom: 1px solid #58d874;
}

.btn-excluir {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(145, 14, 14);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.btn-excluir:hover {
    background-color: rgba(194, 25, 25, 0.87);
}

@media (max-width: 1090px) {
    .meus-filmes ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .favoritos-list {
        max-width: 100%;
        padding:12px;
    }

    .img-details {
        width: 80px;
        max-height: 120px;
    }

    .btn-excluir {
        font-size: 9px;
        padding: 4px 8px;
    }

    .link-details {
        font-size: 11px;
    }
}


@media (max-width: 745px) {
    .meus-filmes ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .favoritos-list {
        max-width: 100%;
        padding: 10px;
    }

    .img-details {
        width: 80px;
        max-height: 120px;
    }

    .btn-excluir {
        font-size: 9px;
        padding: 4px 8px;
    }

    .link-details {
        font-size: 11px;
    }
}

@media (max-width: 290px) {
    .meus-filmes ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .favoritos-list {
        max-width: 100%;
        padding: 10px;
    }

    .img-details {
        width: 80px;
        max-height: 120px;
    }

    .btn-excluir {
        font-size: 9px;
        padding: 4px 8px;
    }

    .link-details {
        font-size: 11px;
    }

}