header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(29, 29, 28, 0.877);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

ion-icon {
    font-size: 42px;
    color: aliceblue;
    transition: .5s;
}

ion-icon:hover {
    color: #116feb;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: 0;
}

.favoritos {
    color: white;
    background-color: #116feb;
    border: 1px solid #116feb;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: 0;
}

span {
    color: #116feb;
}

@media (max-width: 290px) {
    .favoritos {
        font-size: 10px;
        font-weight: bold;
    } 

    .logo {
        font-size: 18px;
    }
}

